//
//  .gitignore
//  FoodLens
//  Created by Melanie & Muna on 12/2/25.
//

//# macOS junk
.DS_Store
*.DS_Store

//# Xcode user-specific junk
xcuserdata/
*.xcuserstate
DerivedData/

//# Swift Package Manager junk
.swiftpm/
.build/

//# Logs
*.log

//# Ignore Xcode Previews cache
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
FoodLens.xcodeproj/project.xcworkspace/xcshareddata/
